
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MyStyle{
    <style>
        table {
            border-collapse:collapse;   
            width:100%;
        }
        td,th{
            border:1px solid #dddddd;
            text-align:left;
            padding:8px;
        }
        tr:nth-child(even){
            background-color:#dddddd;
        }
    </style>
    }
<center><h2>Testing Purpose</h2></center>
<table>
    <tr>
        <th>SL</th>
        <th>Name</th>
        <th>Address</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Ashik</td>
        <td>Dhaka</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Shokal</td>
        <td>Dhaka</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Raihan</td>
        <td>Dhaka</td>
    </tr>
</table>
@section MyScript{
    
    
    }


